* {
    font-family: "思源黑体", "Nfonts";
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.FacerImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 70px;
}

.FacerImage2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 10px;
}

body {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

@font-face {
    font-family: "Nfonts";
    src: url(./fonts/思源黑体.otf);
}

.label {
    background-color: white;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Nfonts";
}

.label.nomargin {
    margin-left: 0px;
    margin-right: 0px;
}

span {
    display: inline-block;
    font-family: Consolas;
}

hr {
    display: inline-block;
    border: none;
    background: none;
    background-color: white;
    height: 3px;
    width: 40%;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: gray;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: none;
}

a {
    display: inline-block;
}

#navbar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    position: fixed;
}

#content {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 50vh;
    width: 70vw;
    display: inline-block;
    margin-top: 100px;
    border-radius: 10px;
    padding: 40px;
}

#contents {
    text-align: left;
    margin-top: 10px;
}

@font-face {
    font-family: "Consolas";
    src: url(./fonts/Consolas.ttf);
}

code {
    font-family: Consolas !important;
    border-radius: 10px;
    padding: 20px !important;
    background-color: rgb(30, 30, 30) !important;
    display: inline-block;
    white-space: pre-wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.t1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.interesting-img {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

#ite_imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transform: scale(1, 0);
    opacity: 0;
}

.a-ball {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
}

.projectbox.container {
    width: 250px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    transition: all .2s ease-out;
    border: transparent 4px solid;
}

.projectbox.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(103%);
    cursor: pointer;
    border: white 4px solid;
}

.projectbox.facer {
    width: 100%;
    height: 140.58px;
    border-radius: 10px 10px 0px 0px;
}

.projectbox.content {
    margin-top: -5px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px;
    border-radius: 0px 0px 10px 10px;
}

.projectbox.content-title {
    font-size: 17px;
    font-weight: bold;
}

.projectbox.content-text {
    font-size: 14px;
    font-weight: normal;
    height: 60px;
}